.botao{
    display:block;
    margin:10px;
    padding: 15px;
    width: 150px;
    height: 50px;
    

}


h1{
    text-align: center;
}
p{
    text-align: justify;
}




@media screen and (min-width: 769px){
    .botoes{
        display: inline-block;
        width: 15%;
        height: auto;
    }
    .texto{
        display: inline-block;
        width: 40%;
        height: auto;
    }
    .bandeira{
        display:inline;
        width: 27%;
        height: auto;
    }
    

 }
 @media screen and (max-width:1200px){
    .bandeira{
        display:none;
    }
}